
/* prewed */
/* variable */
:root{
    --pinkHero :#FDF0EC;
    --namaMempelai : #AD9347;
    --merahMarun :#542726;
}

.bingkai{
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
}
.bingkai::before{
    content:'';
    position: absolute;
    width: 400px;
    height: 500px;
    top: 60%;
    left: 50%;
    transform: translate(-45%, -50%);
    background-image:url("/img/2.png");
    z-index: -1;
    border-radius: 50%;
    background-size: cover;
    background-position:center;
}

.bingkai .perempuan{
    border-radius: 50%;
    width: 260px;
    height: 260px;
    left: 1em;
    border: 5px solid var(--namaMempelai);
}
.bingkai .laki-laki{
    border-radius: 50%;
    width: 260px;
    height: 260px;
    right: 1em;
    margin-top: 10em;
    border: 5px solid var(--namaMempelai);
}
.hero{
    min-height: 100vh;
    background-color: var(--pinkHero);
}
.hero h1{
    font-family: 'Dancing Script', cursive;
    font-size: 6em;
    color: var(--namaMempelai);
}
.hero h4{
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    color: var(--merahMarun);
}
.hero h2{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 2em;
    color: var(--merahMarun);

}
.hero p{
    font-family: 'Poppins', sans-serif;
    color: var(--merahMarun);
    font-size: 1em;
}
.hero a{
    color: var(--pinkHero);
    background-color: var(--namaMempelai);
}
.hero a:hover{
    color: var(--namaMempelai);
    background-color: var(--pinkHero);
    border: 1px solid var(--namaMempelai);
}

/* Undangan */
.hero-undangan {
    min-height: 100vh;
    background-color: var(--pinkHero);
  }
  .hero-undangan .kotak-gambar {
    border-top: 5px solid var(--namaMempelai);
    border-bottom: 5px solid var(--namaMempelai);
    position: relative;
    z-index: 2;
    min-height: 100vh;
  }
  .kotak-gambar::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
    background-image: url('/img/bg-2.png');
    z-index: -1;
    opacity: 0.5;
  }
  .hero-undangan h1 {
    font-family: 'Cookie', cursive;
    color: var(--merahMarun);
    font-weight: bold;
    font-size: 5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  .hero-undangan h4 {
    font-family: 'Lumanosimo', cursive;
    color: var(--merahMarun);
    font-weight: bold;
    font-size: 1.5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  /* end Udangan */