
body{
  background-color: #383b3a;
  font-family: 'Poppins', sans-serif;
}
.card-1{
    border: 2px solid #9f17d0;
    text-align: center;
    width: 30%;
    border-radius: 8px;
    padding: ;
}
.card-1 > input{
    margin: 5px;
    border: 2px solid #9f17d0;
    border-radius: 5px;
    width: 20rem;
    height: 1.5rem;
}
.card-1 > .col > .link{
    color: #1877dc;
}
.card-1 > .col > .link>a{
    color:#1877dc;
}
.card-1 > .col > p > button{
    color: #383b3a;
    background-color: #9f17d0;
    border: 0;
    border-radius: 3px;
    width: 5rem;
    height: 1.5rem;
    margin-left: 1rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}
.col{
    display: flex;
    justify-content: center;
}
.card-1-1{
    background-color: #9f17d0;
    margin-bottom: 1rem;
    padding: .5rem;
    font-weight: bold;
    font-size: 1.5rem;
    color:#383b3a;
}
